@{
    ViewData["Title"] = "Home Page";
}

<h1>
    This is the simple web api home page
</h1>


<div>
    <h2>
        Here is the info from the postgres db
    </h2>
    <p>
        @Model.firstName @Model.lastName
    </p>
</div>